@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

a.active hr{
  display:block;
}

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}


* {
  font-family: 'Inter', sans-serif;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
